<div class="row">
  <div class="col s2 side-nav-categories">
    <div class=side-nav-categories"">
      <ul class="">
        <a href="#"><li class="category-link">Hair and Beauty</li></a>
        <a href="#"><li class="category-link">Hair and Beauty</li></a>
        <a href="#"><li class="category-link">Hair and Beauty</li></a>
        <a href="#"><li class="category-link">Hair and Beauty</li></a>
        <a href="#"><li class="category-link">Hair and Beauty</li></a>
      </ul>
    </div>
  </div>
  <div class="col s10 shop-banner-landing">
    <div class="shop-banner-landing">
      <div class="title-banner">
        <h1>VetaShop</h1>
      </div>
      <div class="content-banner">
        <div class="text-banner">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <span class="money-banner"><%= number_to_currency(rand(1000..5000), :unit => 'KES ') %></span>
        </div>
        <div class="offer-banner">
          <button class="btn-large">Shop Now</button>
        </div>
      </div>
    </div>
  </div>

</div>
