<iframe src="http://payme.revenuesure.co.ke/api/index.php?cvv=102&cardno=4180875121468408&ccexpmonth=02&ccexpyear=24&amount=<%=@pay.order_total.to_i.to_s%>&email=njugunajoan35@gmail.com&names=JOAN NYAMBURA NJUGUNA&orderref=TU-76654&function=CardPayment&apikey=9222ccd52aa40c016cf3fd93f7170a2f6cab7f369c8334d7c6ecb8ec5b305e24" width="1000" height="600">
    <p>Please wait...!</p>
</iframe>