/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bxslider
 */
 @import "materialize/components/color-variables";
 $primary-color: color("pink", "lighten-3") !default;
 $secondary-color: color("pink", "base") !default;
 @import 'materialize';


.shop-banner-landing {
  padding: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('store');
  background-size: cover;
}

.title-banner {
  color: white;
  font-weight: lighter;
}

.content-banner {
  color: white;
  text-align: right;
}

.text-banner{
  line-height: 20px;
}

.money-banner {
  font-size: 20px;
  font-weight: bold;
}

.side-nav-categories {
  font-style: 30px;
  line-height: 50px;
}

.category-link {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 5px;
}

.card {
  padding: 50px;
}

.btn-add {
  float: right;
}

.bx-wrapper {
  border: 0px;
}

.products-container {
  padding: 10px;
  border: solid 1px #e1e1e1;
  margin-bottom: 20px;
}

.product-card {
  height: 300px;
}

.product-card-big {
  height: 500px;
}

.money-tile {
  float: right;
}

.product-page {
  padding-top: 20px;
}

.product-area {
  padding-bottom: 50px;
  border-bottom: solid 1px #e1e1e1;
}

.similar-products {
  border-right: solid 1px #e1e1e1;
}

.qty-form {
  padding-right: 75%;
}

.color {
  padding: 10px;
}

.title-desc {
  color: #e1e1e1;
}
